<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="profac.My.MySettings.facturascConnectionString" connectionString="Data Source=ESAU-PC\MSQLSERVER;Initial Catalog=facturasc;User ID=sa;Password=E.sau1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>